$color-dark-gray: hsl(0, 0%, 63%);
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-very-dark-gray: hsl(0, 0%, 27%);
$arrow-size: 7.6rem;

@mixin respond($breakpoint) {
  @if ($breakpoint == large) {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint == medium) {
    @media (max-width: 62.5em) {
      @content;
    }
  }
  @if ($breakpoint == small) {
    @media (max-width: 40.25em) {
      @content;
    }
  }
  @if ($breakpoint == xsmall) {
    @media (max-width: 25em) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  //1rem = 10px
  font-size: 62.5%;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: $color-dark-gray;
  min-height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 6rem max(5%, 6rem);
  z-index: 1;

  &__icon--open {
    display: none;
    position: absolute;
    left: 0;

    @include respond(small) {
      display: block;
    }
  }

  &__icon--close {
    display: none;

    @include respond(small) {
      display: block;
    }
  }

  &__logo-box {
    img {
      vertical-align: middle;
    }
  }

  @include respond(small) {
    margin: 4rem 4rem;
    justify-content: center;
    width: calc(100% - 8rem);
  }

  @include respond(xsmall) {
    margin: 4rem 4rem;
    width: calc(100% - 8rem);
  }
}

.nav {
  margin-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.4s;

  &__list {
    color: $color-white;
    text-transform: lowercase;
    list-style: none;
    display: flex;
    gap: 2rem;

    @include respond(small) {
      gap: 1.2rem;
    }

    @include respond(xsmall) {
      gap: 0.2rem;
    }
  }

  &__item {
    cursor: pointer;
    padding: 1rem 1rem;
    position: relative;

    &:last-child {
      padding-right: 0;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0.2rem;
      background-color: $color-white;
      transition: all 0.4s;
      backface-visibility: hidden;
    }

    &:hover {
      &::after {
        width: 40%;
      }
    }

    @include respond(small) {
      color: $color-black;
      font-weight: 600;
    }
  }

  @include respond(small) {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: $color-white;
    padding: 3rem 4rem;
    transform: translateY(-100%);
  }

  @include respond(xsmall) {
    padding: 3rem 4rem;
  }

  &--active {
    transform: translateY(0);
  }
}

.slider {
  display: flex;
  min-height: max(70vh, 55rem);

  &__img-box {
    flex-basis: calc(70% - (#{$arrow-size} * 2));
    position: relative;
    overflow: hidden;
  }

  &__cover-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-black;
    transform: translateX(100%);
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;

    &--active {
      opacity: 1;
    }

    &:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__text-container {
    flex-basis: calc(30% + (#{$arrow-size} * 2));
    position: relative;
    padding: 9rem 0;

    @include respond(xsmall) {
      padding: 6rem 0;
    }
  }

  &__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 9rem;
    opacity: 0;
    transform: scale(0.95);
    transition: transform 0.6s ease-out 0.6s, opacity 0.2s;

    &--active {
      opacity: 1;
      transform: scale(1);
      z-index: 1 !important;
    }

    &:not(:first-child) {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: -1;
    }

    @include respond(medium) {
      padding: 0 6rem;
    }

    @include respond(small) {
      padding: 0 4rem;
    }

    @include respond(xsmall) {
      padding: 0 4rem;
    }
  }

  &__controls {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 2;

    @include respond(medium) {
      top: 0;
      right: 0;
      left: auto;
      bottom: auto;
      transform: translateY(-100%);
    }
  }

  &__arrow {
    width: $arrow-size;
    height: $arrow-size;
    background-color: $color-black;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s;
    border: none;

    &--left {
      background-image: url(../img/icon-angle-left.svg);
    }

    &--right {
      background-image: url(../img/icon-angle-right.svg);
    }

    &:hover {
      background-color: $color-very-dark-gray;
    }

    @include respond(medium) {
      width: 7rem;
      height: 7rem;
    }

    @include respond(small) {
      width: 6rem;
      height: 6rem;
    }
  }

  @include respond(medium) {
    flex-direction: column;
  }
}

.img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.text-box {
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 2rem;
    color: $color-black;

    @include respond(large) {
      font-size: 3rem;
    }

    @include respond(small) {
      font-size: 2.6rem;
    }

    @include respond(xsmall) {
      font-size: 2.2rem;
    }
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem;
    color: $color-black;
    text-transform: uppercase;

    @include respond(xsmall) {
      font-size: 1.3rem;
    }
  }

  p {
    line-height: 1.6;
  }

  button {
    border: 0;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1rem;
    background-color: $color-white;
    text-transform: uppercase;
    font-family: inherit;
    padding: 1rem 0;
    cursor: pointer;
    margin-top: 2rem;
    transition: all 0.3s;

    .button__icon {
      margin-left: 1rem;
      transition: all 0.2s;
    }

    .button__icon path {
      transition: all 0.3s;
    }

    &:hover {
      color: $color-dark-gray;

      .button__icon path {
        fill: $color-dark-gray;
      }
    }

    &:active .button__icon {
      margin-left: 2rem;
    }

    @include respond(xsmall) {
      font-size: 1.2rem;
      letter-spacing: 0.8rem;
    }
  }
}

.about {
  display: flex;
  min-height: 30vh;

  &__img-box {
    flex-basis: 30%;
  }

  &__text {
    flex-basis: 40%;
    padding: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(small) {
      padding: 6rem 4rem;
    }

    @include respond(xsmall) {
      padding: 6rem 4rem;
    }
  }

  @include respond(medium) {
    flex-direction: column;
  }
}

.attribution {
  background-color: $color-white;
  padding: 1.2rem 1.8rem;
  font-size: 1rem;
  line-height: 1.6;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  border-radius: 10rem;
  margin: 1.2rem;
  box-shadow: 0rem 0.4rem 2rem rgba($color-black, 0.1);
  display: inline-block;

  a {
    color: $color-very-dark-gray;
  }

  @include respond(medium) {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 60%;
    margin: 1.2rem auto;
  }

  @include respond(small) {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 90%;
    margin: 1rem auto;
  }
}
